@model List<Product>
@{
    int count = 0;
}


<div class="container pt-3">
    <div class="d-flex justify-content-around">
        <h3>Products</h3>
        <a class="btn btn-success" asp-controller="Product" asp-action="Create">Create</a>
    </div>
    <table class="table table-secondary table-striped text-dark">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Product Code</th>
                <th scope="col">Price</th>
                <th scope="col">Category</th>
                <th scope="col">Tags</th>
                <th scope="col">Colors</th>
                <th scope="col">Sizes</th>
                <th scope="col">Image</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Product product in Model)
            {
                count++;
                <tr>
                    <th scope="row">@count</th>
                    <td>@product.Id</td>
                    <td>@product.Title</td>
                    <td>@product.Description</td>
                    <td>@product.ProductCode</td>
                    <td>@product.Price</td>
                    <td>@product.Category.Name</td>
                    <td>
                        @foreach (var item in product.PrdTags)
                        {
                            <p>@item.Tag.Name</p>
                        }
                    </td>
                    <td>
                        @foreach (var item in product.PrdColors)
                        {
                            <p>@item.Color.Name</p>
                        }
                    </td>
                    <td>
                        @foreach (var item in product.PrdSizes)
                        {
                            <p>@item.Size.Name</p>
                        }
                    </td>
                    <td>
                        <div style="width:100px">
                            <img width=100% src="~/assets/images//@product.Images.FirstOrDefault(i=>i.IsPrimary==true)?.ImageUrl">
                        </div>
                    </td>

                    <td>
                        <a class="btn btn-primary" asp-controller="Product" asp-action="Update" asp-route-id="@product.Id">Update</a>
                        <a class="btn btn-danger" asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>